<div>
    <h5 class="branchColor">{{branchName}}</h5>
    <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Week</th>
            <th scope="col">Regular</th>
            <th scope="col"></th>
            <th scope="col">Diesel</th>
            <th scope="col"></th>
            <th scope="col">Premium</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            <ng-content></ng-content>
        </tbody>
    </table>    
</div>

