<td>{{data.name}}<ng-content></ng-content></td>
<td>{{data.regular.used}}/{{data.regular.available}}</td>
<td>{{percentageOfRegular|percent:'1.0-2'}}</td>
<td>{{data.diesel.used}}/{{data.diesel.available}}</td>
<td>{{percentageOfDiesel|percent:'1.0-2'}}</td>
<td>{{data.premium.used}}/{{data.premium.available}}</td>
<td>{{percentageOfPremium|percent:'1.0-2'}}</td>