
<!-- Dashboad -->
<div class="container">

  <!-- Logo -->
  <img
    src="../../assets/FAVPNG_ptt-public-company-limited-thailand-limited-company-business_aaerb5QS.png"
    width="200px"
    height="200px"
  />

  <!-- Cards -->
  <div class="border pr-0 pl-0">
    <h1 class="text-center mb-3 text-warning">
      Annual Month Overall Data of PTT
    </h1>
    <app-total [cardData]="cards"></app-total>
  </div>
  
  <!-- Branch and Week row -->
  <div class="border pr-0 pl-0 mt-3">
    <div class="container mt-3">
      <h1 class="text-center mb-3 text-warning">Data From Each Branch</h1>
      <div app-branch [branchName]="'Branch A'">
        <tr app-week-row [data]="this.generateWeek()" *ngFor="let i of [1,2,3,4]">{{i}}</tr>
      </div>
      <div app-branch [branchName]="'Branch B'">
        <tr app-week-row [data]="this.generateWeek()" *ngFor="let i of [1,2,3,4]">{{i}}</tr>
      </div>
    </div>
  </div>
</div>
