.card-title{
    color:white;
    padding-top: 10px;
    background-color: #28a745;
    padding-bottom: 10px;
    padding-left: 5px;
    margin-bottom: 5px;
    border-radius: .25rem
}
.alert{
    background-color: #dc3545;
}
    
.card-container{
    display: flex ;
    justify-content: space-between;
}
@media screen and (max-width:768px){
    .card-container{
        display: flex ;
        justify-content: space-between;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .middle-card{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}