<div class="card-container">

   <div class="card w-100">
      <div class="card-body">
        <h5 class="card-title" [ngClass]="{'alert':cardPercentageRegular>0.7}">Regular</h5>
        <h5>{{cardData[0].used}}/{{cardData[0].available}} ({{cardPercentageRegular|percent:'1.0-2'}})</h5>
        <p class="card-text">Utilization of Regular</p>
        <p><ngb-progressbar type="{{cardPercentageRegular>0.7?'danger':'success'}}" [value]="cardPercentageRegular*100"></ngb-progressbar></p>
      </div>
    </div>

    <div class="card w-100 mx-2 middle-card">
        <div class="card-body">
          <h5 class="card-title" [ngClass]="{'alert':cardPercentageDiesel>0.7}">Diesel</h5>
          <h5>{{cardData[1].used}}/{{cardData[1].available}} ({{cardPercentageDiesel|percent:'1.0-2'}})</h5>
          <p class="card-text">Utilization of Diesel</p>
          <p><ngb-progressbar type="{{cardPercentageDiesel>0.7?'danger':'success'}}" [value]="cardPercentageDiesel*100"></ngb-progressbar></p>
        </div>
      </div>
      
      <div class="card w-100">
        <div class="card-body">
          <h5 class="card-title" [ngClass]="{'alert':cardPercentagePremium>0.7}">Premium</h5>
          <h5>{{cardData[2].used}}/{{cardData[2].available}} ({{cardPercentagePremium|percent:'1.0-2'}})</h5>
          <p class="card-text">Utilization of Premium</p>
          <p><ngb-progressbar type="{{cardPercentagePremium>0.7?'danger':'success'}}" [value]="cardPercentagePremium*100"></ngb-progressbar></p>
        </div>
      </div>
</div>